[Desktop Entry]
Name[be]=Тэрмінал
Name[ca]=Terminal
Name[cs]=Terminál
Name[de]=Terminal
Name[en_GB]=Terminal
Name[es]=Terminal
Name[eu]=Terminala
Name[fa]=پایانه
Name[fi]=Pääte
Name[fr]=Terminal
Name[he]=מסוף
Name[hi]=टर्मिनल
Name[hu]=Terminál
Name[id]=Terminal
Name[it]=Terminale
Name[ja]=ターミナル
Name[ka]=ტერმინალი
Name[kab]=Ixf
Name[ko]=터미널
Name[nb]=Terminal
Name[nl]=Terminal
Name[oc]=Terminal
Name[pt_BR]=Terminal
Name[ru]=Терминал
Name[sl]=Terminal
Name[sr]=Терминал
Name[sv]=Terminal
Name[th]=เทอร์มินัล
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[zh_CN]=终端
Name[zh_TW]=終端機
Name=Terminal
Comment[be]=Кантэйнера-арыентаваны тэрмінал для GNOME
Comment[cs]=Kontejnerově orientovaný terminál pro GNOME
Comment[de]=Ein auf Container ausgerichtetes Terminal für GNOME
Comment[en_GB]=A container-oriented terminal for GNOME
Comment[es]=Una terminal para GNOME orientada al trabajo con contenedores
Comment[eu]=Edukiontziekin erabiltzeko terminala GNOMErako
Comment[fa]=پایانه‌ای بارگنج‌محور برای گنوم
Comment[fi]=Konttisuuntautunut pääte Gnomelle
Comment[fr]=Un terminal orienté conteneur pour GNOME
Comment[he]=מסוף מוכוון מכולות ל־GNOME
Comment[hi]=गनोम के लिए एक कंटेनर-उन्मुख टर्मिनल
Comment[hu]=Egy konténerorientált terminál a GNOME-hoz
Comment[id]=Terminal berorientasi kontainer untuk GNOME
Comment[it]=Un terminale per GNOME rivolto ai container
Comment[ja]=コンテナ志向の GNOME 向けターミナル
Comment[ko]=컨테이너 지향 터미널
Comment[nb]=Konteinerbasert terminal
Comment[nl]=Een op containers gefocuste terminal voor GNOME
Comment[pt_BR]=Um terminal orientado a contêineres para GNOME
Comment[ru]=Терминал ориентированный на контейнеры для GNOME
Comment[sl]=Zabojnikom posvečen terminal za GNOME
Comment[sr]=Терминал са контејнерима за Гном
Comment[sv]=En behållarorienterad terminal för GNOME
Comment[th]=เทอร์มินัลแบบทำงานบนคอนเทนเนอร์ สำหรับ GNOME
Comment[tr]=GNOME için konteyner odaklı uçbirim
Comment[uk]=Орієнтований на контейнери термінал для GNOME
Comment[zh_CN]=一款面向容器的 GNOME 终端
Comment[zh_TW]=容器導向式 GNOME 終端機
Comment=A container-oriented terminal for GNOME
Exec=ptyxis
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Ptyxis
DBusActivatable=true
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
GenericName[be]=Тэрмінал
GenericName[ca]=Terminal
GenericName[cs]=Terminál
GenericName[de]=Terminal
GenericName[en_GB]=Terminal
GenericName[es]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääte
GenericName[fr]=Terminal
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[hu]=Terminál
GenericName[id]=Terminal
GenericName[it]=Terminale
GenericName[ja]=ターミナル
GenericName[ka]=ტერმინალი
GenericName[kab]=Ixf
GenericName[ko]=터미널
GenericName[nb]=Terminal
GenericName[nl]=Terminal
GenericName[oc]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ru]=Терминал
GenericName[sl]=Terminal
GenericName[sr]=Терминал
GenericName[sv]=Terminal
GenericName[th]=เทอร์มินัล
GenericName[tr]=Uçbirim
GenericName[uk]=Термінал
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機
GenericName=Terminal
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;кансоль;камандны;загадны;радок;выканаць;тэрмінал;кантэйнер;
Keywords[cs]=terminál;prompt;ptyxis;shell;příkaz;příkazový;řádek;cmd;cli;konzole;kontejner;podman;toolbox;distrobox;
Keywords[de]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;container;podman;toolbox;distrobox;Terminal;Prompt;Befehl;Befehlszeile;Konsole;Container;
Keywords[es]=terminal;prompt;ptyxis;shell;comando;línea de comandos;cmd;cli;consola;contenedor;podman;toolbox;distrobox;
Keywords[eu]=terminala;gonbita;ptyxis;shell-a;komandoa;komando-lerroa;cmd;cli;kontsola;edukiontzia;podman;tresna-kutxa
Keywords[fa]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;ترمینال;پایانه;اعلان;چنبره;پوسته;فرمان;کنسول;خط;بارگنج;پادمن;
Keywords[fi]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;pääte;kehote;komento;komentorivi;kontti;konsoli;
Keywords[hu]=terminál;bekérés;ptyxis;parancsértelmező;parancs;parancssor;cmd;cli;konzol;konténer;podman;eszköztár;distrobox;
Keywords[ja]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;ターミナル;端末;プロンプト;シェル;コマンド;コマンドライン;コンテナー;
Keywords[nb]=terminal;prompt;ptyxis;shell;kommando;kommandolinje;cmd;cli;konteiner;podman;toolbox;distrobox;
Keywords[pt_BR]=terminal;prompt;ptyxis;shell;comando;linha de comando;cmd;cli;container;contêiner;podman;toolbox;distrobox;
Keywords[ru]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;
Keywords[sl]=terminal;utripalka;ptiksa;ptyxis;lupina;ukaz;ukazna;vrstica;cmd;cli;vsebnik;zabojnik;kontejner;podman;orodje;toolbox;distrobox;
Keywords[sr]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;терминал;промпт;птиксис;команда;наредба;командналинија;цмд;цли;цонсоле;конзола;контејнер;цонтаинер;подман;тулбокс;дистробокс;
Keywords[sv]=terminal;prompt;ptyxis;skal;kommando;kommandorad;cmd;cli;konsol;behållare;podman;toolbox;distrobox;
Keywords[th]=เทอร์มินัล;พรอมต์;ptyxis;เชลล์;คำสั่ง;บรรทัดคำสั่ง;cmd;cli;คอนโซล;คอนเทนเนอร์;podman;toolbox;distrobox;
Keywords[tr]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;uçbirim;uç birim;istem;kabuk;komut;komut satırı;konteyner;
Keywords[uk]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;термінал;запит;птиксіс;команда;рядок;клі;консоль;контейнер;подмен;тулбокс;дістробокс;
Keywords[zh_CN]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;终端;提示符;命令;命令行;控制台;容器;
Keywords[zh_TW]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;終端機;提示字元;命令;命令行;指令;控制台;容器;
Keywords=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;console;container;podman;toolbox;distrobox;
Actions=new-window;new-tab;preferences;
X-ExecArg=--
X-TerminalArgTitle=--title
X-TerminalArgDir=--working-directory
X-TerminalArgAppId=--gapplication-app-id
X-KDE-AuthorizeAction=shell_access

[Desktop Action new-window]
Name[be]=Новае акно
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[en_GB]=New Window
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kab]=Asfaylu amaynut
Name[ko]=새 창
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[oc]=Fenèstra novèla
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Name=New Window
Exec=ptyxis --new-window

[Desktop Action new-tab]
Name[be]=Новая ўкладка
Name[ca]=Pestanya nova
Name[cs]=Nová karta
Name[de]=Neuer Reiter
Name[en_GB]=New Tab
Name[es]=Pestaña nueva
Name[eu]=Fitxa berria
Name[fa]=زبانهٔ جدید
Name[fi]=Uusi välilehti
Name[fr]=Nouvel onglet
Name[he]=לשונית חדשה
Name[hi]=नया टैब
Name[hu]=Új lap
Name[id]=Tab Baru
Name[it]=Nuova scheda
Name[ja]=新しいタブ
Name[ka]=ახალი ჩანართი
Name[kab]=Iccer amaynut
Name[ko]=새 탭
Name[nb]=Ny fane
Name[nl]=Nieuw tabblad
Name[oc]=Onglet novèl
Name[pt_BR]=Nova aba
Name[ru]=Новая вкладка
Name[sl]=Nov zavihek
Name[sr]=Нови језичак
Name[sv]=Ny flik
Name[th]=แท็บใหม่
Name[tr]=Yeni Sekme
Name[uk]=Нова вкладка
Name[zh_CN]=新建标签页
Name[zh_TW]=新增分頁
Name=New Tab
Exec=ptyxis --tab

[Desktop Action preferences]
Name[be]=Налады
Name[ca]=Preferències
Name[cs]=Předvolby
Name[de]=Einstellungen
Name[en_GB]=Preferences
Name[es]=Preferencias
Name[eu]=Hobespenak
Name[fa]=ترجیحات
Name[fi]=Asetukset
Name[fr]=Préférences
Name[he]=העדפות
Name[hi]=प्राथमिकताएं
Name[hu]=Beállítások
Name[id]=Preferensi
Name[it]=Preferenze
Name[ja]=設定
Name[ka]=მორგება
Name[ko]=기본 설정
Name[nb]=Innstillinger
Name[nl]=Voorkeuren
Name[oc]=Preferéncias
Name[pt_BR]=Preferências
Name[ru]=Параметры
Name[sl]=Nastavitve
Name[sr]=Поставке
Name[sv]=Inställningar
Name[th]=ค่าปรับแต่ง
Name[tr]=Tercihler
Name[uk]=Налаштування
Name[zh_CN]=首选项
Name[zh_TW]=偏好設定
Name=Preferences
Exec=ptyxis --preferences
